@import url(/assets/css/reset.css);
@import url(/assets/css/common.css);
@import url(/assets/css/fonts.css);

body {
    position: relative;
}

.hidden {
    overflow: hidden;
}

.top-banner {
    background: #000;
}

.top-banner a {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff
}

.top-banner a .arrow_wh {
    display: block;
    margin-left: 5px;
    width: 8px;
    height: 13px;
    background: url(/assets/images/ico-arrow.png) no-repeat;
}

.container {}

header {
    position: relative;
}



header .gnb {
    display: flex;
    position: fixed;
    top: 40px;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    width: 100%;
    height: 50px;
    padding: 0 5px;
}

header .gnb .side,
header .gnb .user {
    display: flex;
    gap: 10px;
}

header .gnb h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header .gnb.wheel {
    top: 0;
    height: 100px;
    background: #fff;
    align-items: flex-start;
    padding-top: 15px;

}


header .gnb h1 a {
    display: block;
    width: 87px;
    height: 23px;
    margin: 0 auto;
    background: url('/assets/images/img-logo-w.svg') no-repeat
}



header .gnb .category:after {
    width: 22px;
    height: 18px;
    display: block;
    content: '';
    overflow: hidden;
    background: url("/assets/images/ico-cate_w.svg") no-repeat 0 0;
}

header .gnb .search:after {
    width: 20px;
    height: 21px;
    display: block;
    content: '';
    overflow: hidden;
    background: url("/assets/images/ico-search_w.svg") no-repeat 0 0;
}

header .gnb .info:after {
    width: 20px;
    height: 21px;
    display: block;
    content: '';
    overflow: hidden;
    background: url("/assets/images/ico-user_w.svg") no-repeat 0 0;
}

header .gnb .order:after {
    width: 20px;
    height: 21px;
    display: block;
    content: '';
    overflow: hidden;
    background: url("/assets/images/ico-shop_w.svg") no-repeat
}




header.wheel {
    position: fixed;
    background: #fff;
    width: 100%;
    top: 0;
    z-index: 1;
}

header.wheel .gnb {
    position: relative;
    top: 0;
}

header.wheel .menu-wrap {
    display: block;
    position: relative;
    z-index: 1;
    background: #fff;
}

header.wheel .menu-wrap .menu-list,
header.wheel .menu-wrap .menu-tit {
    display: flex;
    gap: 10px;
    padding: 11px 0 11px 15px;
    position: relative;
    box-sizing: border-box;
    z-index: 1;
    background: #fff;
    width: calc(100% - 33px);
    white-space: nowrap;
}

header.wheel .menu-wrap .all-more {
    position: absolute;
    right: 10px;
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url(/assets/images/ico-mopen.png) no-repeat;
    background-size: 12px auto;
    background-position: center;
}

header.wheel .menu-wrap .all-more.open {
    transform: rotate(180deg);
}

.menu-more {
    display: none;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.menu-more.active {
    display: block
}

.menu-more.active .menu-all {
    display: flex;
    flex-direction: row;
    position: relative;
    display: flex;
    padding: 6px 12px;
    max-height: fit-content;
    flex-wrap: wrap;
    box-sizing: border-box;
    background: #F6F6F6;
    border-top: 1px solid #dcdcdc;
}

.menu-more.active .menu-all a {
    display: inline-block;
    padding: 8px 17px;
    margin: 3px 3px;
    border: 1px solid #ebebeb;
    border-radius: 100px;
    box-sizing: border-box;
    background: #fff;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    letter-spacing: -0.05em;
}

.all-more {
    position: absolute;
    top: 5px;
    right: 5px;
}

header.wheel .menu-wrap .menu-nav.active {
    display: block;
    max-height: 200px;

}

header.wheel .menu-wrap .menu-nav.none {
    display: none;

}

header.wheel .menu-wrap .menu-list a {
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    line-height: 23px;
    letter-spacing: -0.05em;
    color: #333;
    font-weight: 400;
    vertical-align: middle;
}

.menu-more .menu-tit {
    font-size: 16px;
    line-height: 23px;
    color: #000;
    width: 100%;
    padding: 11px 16px;
    box-sizing: border-box;
    position: relative;
    background: #fff;
}

header.wheel h1 a {
    background: url('/assets/images/img-logo-b.svg') no-repeat
}

header.wheel .category:after {
    background: url("/assets/images/ico-cate.svg") no-repeat 0 0;
}

header.wheel .search:after {

    background: url("/assets/images/ico-search.svg") no-repeat 0 0;
}

header.wheel .info:after {

    background: url("/assets/images/ico-user.svg") no-repeat 0 0;
}

header.wheel .order:after {

    background: url("/assets/images/ico-shop.svg") no-repeat
}

header .menu-wrap {
    display: none;
}

.left-wrapper {}

.left-menu {
    width: 80%;
    height: 100vh;
    transition: .3s;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    transform: translateX(-100%);
    overflow-y: auto;
}

.left-menu .close {
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    right: 16px;
    top: 38px;
    padding: 0 !important;
    font-size: 0;
}

.left-menu .close::after {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    background: url('/assets/images/ico-close.png') no-repeat;
    background-size: 100% auto;
    content: "";
}

.left-menu.active {
    transform: translateX(0);
}

.left-menu .user-wrap {
    padding: 32px 16px 16px;
    border-bottom: 1px solid #ddd !important;
    background: #fff;
}

.left-menu .user {
    display: flex;
    gap: 6px;
    padding: 14px 0;
}

.left-menu .user-wrap .login-p {
    display: block;
    color: #77797E;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: -0.05em;
    padding-top: 15px;
}

.left-menu .menu-wrapper {
    padding: 15px
}

.left-menu .left-menu-all {
    padding: 11px 0 11px;
}

.left-menu .left-menu-all li {
    position: relative;
}

.left-menu .left-menu-all a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    color: #333;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
}

.left-menu .left-menu-all.board_area {
    border-top: 1px solid #ccc
}

.left-menu .left-menu-all .title:after {
    content: '';
    display: block;
    transition-duration: .3s;
    width: 30px;
    height: 28px;
    background: url('/assets/images/ico-open.png') no-repeat center/28px auto;
}

.left-menu .left-menu-all .title.on:after {
    transform: rotate(180deg);
}

.left-menu .left-menu-all .menu-ul2 {
    display: none;

}

.left-menu .left-menu-all .menu-ul2 li a {
    display: block;
    padding: 11px 0;
    color: #848484;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: -0.5px;
    font-weight: 400;
}

.left-menu .user li a {
    width: auto;
    height: auto;
    padding: 10px 26px;
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    font-weight: 700;
    border-radius: 4px;
    box-sizing: border-box;
}

.left-menu .user li a.login {
    background: #0e0e0e;
    border: 1px solid #000;
}

.left-menu .user li a.join {
    background: #fff;
    border: 1px solid #ccc;
    color: #333 !important;
}

.left-menu .brand_tab_box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    overflow: hidden;
}

.left-menu .brand_tab_box a {
    position: relative;
    text-align: center;
    display: block;
    width: 50%;
    background: #F2F2F2;
    padding: 14px 0;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.02em;
    font-weight: 400;
    color: #777;
}

.dimmed {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
}

.dimmed.active {
    opacity: 1;
    z-index: 3;
    visibility: visible
}